.sidebar-container {
  width: 5rem;
  background-color: var(--white);
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.sidebar-container:hover {
  width: 10rem;
}
.sidebar-container:hover .sidebar-item:last-child {
  display: flex;
}
.sidebar-container:hover .item-text {
  display: block;
}
.sidebar-items {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0.625rem;
}
.sidebar-item {
  display: flex;
  gap: 0.625rem;
  padding: 0.625rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  cursor: pointer;
  border-radius: 0.625rem;
  transition: all 200ms ease-in-out;
}
.sidebar-item:not(:last-child):hover {
  background-color: var(--grey-hover);
}
.item-text {
  display: none;
}
.sidebar-item:last-child {
  display: none;
  margin-top: auto;
  margin-bottom: 1rem;
  justify-content: center;
  border: 2px solid var(--accent);
  border-radius: 0.625rem;
  color: var(--accent);
  height: 3rem;
  transition: all 200ms ease-in-out;
}
.sidebar-item:last-child:hover {
  color: var(--white);
  background-color: var(--accent);
}
/* .sidebar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 15px;
  background-color: var(--white);
}
.expanded {
  width: 11.25rem;
}
.collapsed {
  width: 5rem;
}
.sidebar-collapse {
  background-color: var(--accent);
  color: var(--white);
  position: absolute;
  display: grid;
  place-items: center;
  height: 30px;
  aspect-ratio: 1;
  top: 30px;
  right: -15px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
.collapse-icon {
  transition: all 150ms ease-in-out;
}
.sidebar-item:not(:last-child) {
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.sidebar-item:not(:last-child):hover {
  background-color: var(--grey-light);
}
.sidebar-item:last-child {
  margin-top: auto;
}
.sidebar-logo {
  width: 150px;
}
.sidebar-item,
.logout-btn {
  cursor: pointer;
}
.item-expand {
  display: flex;
  justify-content: flex-start;
  gap: 0.875rem;
  width: 150px;
}
.item-expand > span {
  display: inline;
  opacity: 1;
}
.item-collapse {
  width: 50px;
}
.item-collapse > span {
  display: none;
  opacity: 0;
}

.logout-btn {
  background-color: var(--white);
  color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 10px;
  padding: 10px;
  transition: all 200ms ease-in-out;
  width: 100%;
}
.logout-btn:hover {
  background-color: var(--accent);
  color: var(--white);
} */
